SHERPA_MODEL_DIR=/home/rock/models/vits-melo-tts-zh_en
SHERPA_MODEL_URL=https://github.com/k2-fsa/sherpa-onnx/releases/download/tts-models/vits-melo-tts-zh_en.tar.bz2
SHERPA_VITS_MODEL=model.onnx
SHERPA_VITS_LEXICON=lexicon.txt
SHERPA_VITS_TOKENS=tokens.txt
SHERPA_RULE_FSTS=date.fst,number.fst
SHERPA_PROVIDER=cpu
SHERPA_NUM_THREADS=4
SHERPA_SID=0
SHERPA_SPEED=1.0
TTS_HOST=0.0.0.0
TTS_PORT=8011
OUTPUT_DIR=output
AUDIO_PLAYER=aplay
AUDIO_DEVICE=
