MELOTTS_DIR=/home/rock/MeloTTS-RKNN2
PYTHON_BIN=python
MELOTTS_SAMPLE_RATE=44100
MELOTTS_SPEED=0.8
MELOTTS_HOST=0.0.0.0
MELOTTS_PORT=8010
AUDIO_PLAYER=aplay
AUDIO_DEVICE=
VOICE_OUTPUT_DIR=output
MAX_SENTENCE_CHARS=80
